.btn-primary {
  display: none;
}

@media only screen and (max-width: 768px) {
  .btn-primary {
    display: block;
    margin: auto;
  }
}

#main-unit {
  max-height: 70%;
  width: 100%
}

.jumbotron {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("./assets/bg.jpg");
  background-position: center center;
  background-size: cover;
}

.main-text, h3, li {
  font-family: 'Fira Sans', sans-serif;
}

.main-text {
  padding-left: 20%
}

.card {
  /* text-align: center; */
  padding: 15px;
}

.card-title {
  text-align: left;
  font-weight: bold;
  font-size: 1.25em;
  padding-top: 20px;
  padding-left: 15px;
}

.card-text {
  color: gray;
  font-weight: 0.9em;
}

.form-control, .btn-danger {
  margin-top: 15px;
  margin-bottom: 15px;
}

.modal-title {
  padding-top: 50px;
  padding-bottom: 50px;
}

#card-footer {
  color: red;
  font-size: 0.8em
}

.main-text h1 {
  color: white;
  font-size: 3em;
  font-weight: bolder;
  text-shadow: 2px 2px 4px #000000;
}

.main-text h4 {
  color: yellow;
}

h3 {
  color: red;
}

#secondary-info {
  justify-content: flex-start;
}

ul {
  list-style: none;
  list-style-position:inside;
  margin:0;
  padding:0;
}

ul li:before {
  content: '✓ ';
}
