.jumbotron {
  display:flex;
  justify-content:center;
  align-items:center;
  width:100%;
  background-image: url("./assets/bg.jpg");
  background-size: 100% auto;
  min-height: 400px;
}

.main-text {
  font-family: 'Fira Sans', sans-serif;
}

.card {
  text-align: center;
  padding: 15px;
}

.form-control {
  margin-top: 15px;
  margin-bottom: 15px;
}

.btn-danger {
  margin-top: 15px;
  margin-bottom: 15px;
}

#card-footer {
  color: red;
  font-size: 0.8em
}

#header {
  color: white;
  font-weight: bold;
}

#subheader {
  color: yellow;
}
